    <aside class="page-aside">
      <div class="page-aside-panel about">
        <h2>关于我</h2>
        <p>赚钱的时候最喜欢敲代码，不赚钱的时候最喜欢学语言，什么都不喜欢的时候最喜欢写文章。</p>
        <p>希望永远不被任何人记住，随时转身消失在世界里。</p>
      </div>
      <div class="page-aside-panel dev">
        <h2>技能</h2>
        <p>熟练：Javascript/ES6, HTML, CSS/CSS3, React, jQuery</p>
        <p>熟悉：Vue, Angular, HTML5, Bootstrap, Node.js/express, MongoDB/mongoose, Typescript</p>
        <p>工具：git, npm, webpack</p>
      </div>
    </aside>