  <header class="page-header">
    <h1>
      <a href="/">
        <ruby>佮<rt>kap</rt></ruby>
        <ruby>阿<rt>a</rt></ruby>
        <ruby>托<rt>thok</rt></ruby>
        <ruby>講<rt>kóng</rt></ruby>
        <ruby>話<rt>uē</rt></ruby>
      </a>
      <a class="tailo" title="闽南语罗马字拼音方案" href="http://www.ntcu.edu.tw/tailo/educate.htm">?</a>
    </h1>
  </header>