:root {
  --pager-height: 5rem;
}

.wrapper {
  position: relative;
  height: 100%;
}

/*
 * LIST
 */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 1rem;
}

@media (min-width: 40rem) {
  .list {
    font-size: calc(1rem + (1.25 - 1) * (100vw - 40rem) / (48 - 40));
  }
}

@media (min-width: 48rem) {
  .list {
    font-size: 1.25rem;
  }
}

[data-ie="8"] .list {
  font-size: 1.25em;
}

.list::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--pager-height);
}

.item {
  display: flex;
  align-items: center;
}

[data-ie="8"] .item,
[data-ie="9"] .item {
  overflow: hidden;
  height: 130px;
}

.item-left {
  flex: 0 0 10em;
  display: flex;
  align-items: center;
}

[data-ie="8"] .item-left,
[data-ie="9"] .item-left {
  position: relative;
  float: left;
  width: 10em;
  height: 100%;
}

.item-left time {
  display: block\0;
  width: 100%;
  color: var(--grey);
}

[data-ie="8"] .item-left time,
[data-ie="9"] .item-left time {
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}

[data-ie="8"] .item-left time {
  margin-top: -15px;
}

.item-left::after {
  content: "";
  display: block;
  width: 2px;
  height: 6em;
  background-color: #666;
}

[data-ie="8"] .item-left::after,
[data-ie="9"] .item-left::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.item-right {
  position: relative;
  padding-left: 4.6em;
}

[data-ie="8"] .item-right,
[data-ie="9"] .item-right {
  float: left;
  height: 100%;
  padding-left: 4.6em;
}

.item-title {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.item-title h2 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  transition: transform 0.5s;
}

[data-ie="8"] .item-title h2,
[data-ie="9"] .item-title h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

[data-ie="8"] .item-title h2 {
  margin-top: -17px;
}

.item-title:hover {
  color: var(--theme);
}

.item-title:hover h2 {
  transform: translateX(1.5em);
}

[data-ie="9"] .item-title:hover h2 {
  transform: translateY(-50%) translateX(1em);
}

.item-title::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  width: 1em;
  height: 1em;
  border: 2px solid var(--theme);
  border-radius: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  background-color: #fff;
  transition: transform 0.5s;
}

.item-title:hover::after {
  transform: scale(1.5) rotateY(180deg) rotateX(180deg);
}

/* 小屏幕布局 */
@media (max-width: 40rem) {
  .list {
    max-width: 28em;
    margin: 0 auto;
  }

  .item {
    display: block;
    margin-bottom: 1.2em;
  }

  .item-left::after {
    content: none;
  }

  .item-right {
    padding-left: 2em;
    margin-top: 0.4em;
  }

  .item-title:hover {
    color: var(--theme);
  }

  .item-title:hover h2 {
    transform: none;
  }

  .item-title::after {
    content: none;
  }
}
