.app-main {
  position: relative;
  width: 100%;
  max-width: 768px;
  padding: 0 1em;
  margin: 2.5em auto 0;
}

@supports (display: grid) {
  .app {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    justify-items: center;
    min-height: 100vh;
  }

  .app-header {
    grid-area: header;
  }

  .app-main {
    grid-area: main;
  }
}

/*
 * FETCHING
 */
.fetching {
  color: var(--emphasis);
  text-align: center;
}
