
.app-main.blog {
  display: flex;
  flex-direction: column;
}

/* list */
.article-list {
  flex: 1;
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 0.875rem;
}

.article-item {
  display: flex;
  align-items: center;
}

.article-item-left {
  flex: 0 0 6.6em;
  display: flex;
  align-items: center;
}

.article-item-left time {
  width: 100%;
  color: var(--grey);
}

.article-item-left::after {
  content: "";
  display: block;
  width: 1px;
  height: 6em;
  background-color: #666;
}

.article-item-right {
  position: relative;
  padding-left: 1.25em;
}

.article-item-title {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.article-item-title h2 {
  /*display: inline-block;*/
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  transition: transform 0.5s;
}

.article-item-title:hover {
  color: var(--theme);
}

.article-item-title:hover h2 {
  transform: translateX(1em);
}

.article-item-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
  background-color: var(--theme);
  transition: color 0.5s, transform 0.3s;
}

.article-item-title:hover::after {
  background-color: #fff;
  border: 1px solid var(--theme);
  transform: scale(2.5);
}

@media (min-width: 20rem) {
  .article-list {
    font-size: calc(0.875rem + (1.25 - 0.875) * (100vw - 20rem) / (48 - 20));
  }

  .article-item-left {
    flex-basis: calc(6.6em + (10 - 6.6) * (100vw - 20rem) / (48 - 20));
  }

  .article-item-right {
    padding-left: calc(1.25em + (4.6 - 1.25) * (100vw - 20rem) / (48 - 20));
  }
}

@media (min-width: 48rem) {
  .article-list {
    font-size: 1.25rem;
  }

  .article-item-left {
    flex-basis: 10em;
  }

  .article-item-right {
    padding-left: 4.6em;
  }

  .article-item-left::after {
    width: 2px;
  }

  .article-item-title::after {
    left: -1px;
  }
}


/* pager */
.article-list-pager {
  align-self: flex-end;
  display: flex;
  align-items: center;
  padding: 1.5em 0;
}

.article-list-pager a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
}

.article-list-prev {
  width: 3.4rem;
  height: 3.4rem;
  border: 2px solid var(--theme);
  margin-right: 0.4em;
}

.article-list-next {
  width: 5rem;
  height: 5rem;
  background-color: var(--theme);
}

.article-list-pager svg {
  width: 50%;
  height: 50%;
  fill: #fff;
}

.article-list-prev svg {
  width: 60%;
  height: 60%;
  fill: var(--theme);
}
