.article :not(pre) > code {
  padding: 0 1px;
  margin: 0 0.12em;
  background-color: #deeecf;
  vertical-align: bottom;
}

/* title & meta */
.article-title {
  margin: 0;
  font-size: 2em;
}

.article-meta {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0 2em;
  align-items: center;
  color: var(--grey);
  font-size: 0.875em;
}

.article-meta svg {
  margin-right: 0.5em;
  fill: currentColor;
}

.article-meta svg:first-child {
  margin-left: 0.3em; /* it just looks good this way */
}

.article-meta svg:not(:first-child) {
  margin-left: 1.25em;
}

.article-tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.article-tag a {
  border-bottom: 1px solid transparent;
  margin-right: 0.5em;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, border-color 0.5s;
}

.article-tag a:hover {
  color: var(--theme);
  border-color: currentColor;
}

@media (min-width: 48rem) {
  .article-title {
    text-align: center;
  }

  .article-meta {
    justify-content: center;
  }
}

/* read */
.article-read {
  float: right;
  width: 4.6rem;
  font-size: 0.875em;
  transition: box-shadow 0.3s, transform 0.2s;
}

.article-read.hidden {
  display: none;
}

/* content */
.article-content {
  margin-top: 4.6em;
  line-height: 1.9;
}

.article-content h3 {
  margin: 1.8181818181818181em 0 0.9090909090909091em;
  font-size: 1.375em;
  counter-reset: sub-heading;
}

.article-content h4 {
  margin: 1.1111111111111112em 0;
  font-size: 1.125em;
  counter-increment: sub-heading 1;
}

.article-content h4::before {
  content: counter(sub-heading) ".\00a0";
}

.article-content p,
.article-content pre {
  margin: 1.25em 0;
}

.article-content pre {
  /* position: relative; */
  border-radius: 1px;

  /* font-family: inherit; */
}

/* .article-content pre::before {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.15em 0.5em;
  background: var(--grey);
  color: #333;
  font-size: 0.875em;
} */

.article-content pre code {
  font-size: 0.875em;
}

.article-content a {
  border-bottom: 1px solid transparent;
  color: var(--theme);
  text-decoration: none;
  transition: border-color 0.5s;
}

.article-content a:hover {
  border-color: var(--theme);
}

.article-content ul,
.article-content ol {
  list-style: none;
}

.article-content ol {
  counter-reset: number;
}

.article-content li {
  position: relative;
  margin-top: 1em;
}

.article-content ol li {
  counter-increment: number;
}

.article-content li::before {
  position: absolute;
  top: 0;
  left: -1.5em;
  font-weight: bold;
  color: var(--theme);
}

.article-content ol li::before {
  content: counter(number) '.';
}

.article-content ul li::before {
  content: "•";
}

.article-content sup {
  padding: 0.25em;
}

.article-annotate {
  font-size: 0.875em;
}

.article-annotate li {
  margin-top: 0.5em;
}

/* comment */
#disqus_thread {
  margin-top: 5em;
}
