.sentence {
  padding-top: 1px; /* prevent margin collpase */
}

.sentence-quote {
  position: relative;
  max-width: 90%;
  margin: 3em auto 0;
  margin-top: 15vh;
  font-size: 1.125rem;
}

@media (min-width: 20rem) {
  .sentence-quote {
    font-size: calc(0.875em + (1.125 - 0.875) * (100vw - 20rem) / (48 - 20));
  }
}

@media (min-width: 48rem) {
  .sentence-quote {
    font-size: 1.125em;
  }
}

.sentence-quote::before,
.sentence-quote::after {
  color: var(--theme);
  font-weight: bold;
}

.sentence-quote::before {
  position: absolute;
  top: -0.5em;
  left: -1.5em;
  content: "「";
}

.sentence-quote::after {
  position: absolute;
  right: -1.5em;
  bottom: -0.5em;
  content: "」";
}

@media (min-width: 20rem) {
  .sentence-quote {
    font-size: calc(1rem + (1.125 - 1) / (48 - 20));
  }
}

@media (min-width: 48rem) {
  .sentence-quote {
    font-size: 1.125rem;
  }
}

.sentence-btn {
  position: fixed;
  left: 50%;
  bottom: 3em;
  transform: translateX(-50%);
  padding: 0.52em 1em;
  border-radius: 1px;
}

.sentence-btn:active {
  transform: translate(-50%, 1px);
}
