/* header */
.header__header {
  overflow: hidden;
}

.header__title {
  float: left;
}

.header__nav {
  float: right;
  margin-top: 28px;
}

/* list */
.post-list__list {
  font-size: 1.25em;
}

.post-list__item {
  overflow: hidden;
  height: 130px;
}

.post-list__item-left {
  position: relative;
  width: 10em;
  height: 100%;
  float: left;
}

.post-list__item-left time {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.post-list__item-left:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
}

.post-list__item-right {
  float: left;
  height: 100%;
  padding-left: 4.6em;
}

.post-list__item-right h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.post-list__item-title:hover h2 {
  transform: translateY(-50%) translateX(1em);
}

/* pager */
.post-list__pager {
  text-align: right;
}

.post-list__pager a {
  display: inline-block;
  text-align: center;
}

.post-list__pager a {
  position: relative;
}

.post-list__pager a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* post */
.post__title {
  text-align: center;
}

.post__meta {
  text-align: center;
}

.post__meta * {
  vertical-align: middle;
}

.post__tags,
.post__tags li {
  display: inline-block;
}

/* about */
.about__skills {
  overflow: hidden;
}

.about__skills dl {
  width: 25%;
  float: left;
}


/*** ie8 ***/

/* header */
.ie8 .header__title ruby + ruby {
  margin-right: 0.25em;
}

.ie8 .header__nav a ~ a {
  margin-left: 1.375em;
}

/* list */
.ie8 .post-list__item-left time {
  margin-top: -15px;
}

.ie8 .post-list__item-right h2 {
  margin-top: -17px;
}

.ie8 .post-list__prev,
.ie8 .post-list__next {
  text-decoration: none;
}

.ie8 .post-list__prev span,
.ie8 .post-list__next span {
  position: static;
  visibility: visible;
  font-size: 16px;
}

.ie8 .post-list__prev span {
  color: #68c144;
}

.ie8 .post-list__next span {
  color: #fff;
}

/* post */
.ie8 .post__meta * {
  margin-left: 1.25em;
}

.ie8 .post__content pre {
  background-color: #272822;
}

/* sentence */
.ie8 .sentence__quote {
  position: static;
  margin-top: 100px;
  min-width: 100%;
  text-align: center;
  font-size: 20px;
}

.ie8 .sentence__quote:before {
  position: static;
  content: "本博客在您的浏览器下仅提供最基本的浏览功能";

}

.ie8 .sentence__quote:after {
  position: static;
  content: "建议您换用Oprea、Edge、Firefox或Chrome等现代浏览器以获得最佳浏览体验";
}

.ie8 .sentence__btn {
  display: none;
}
