/* header */
.app-title ruby + ruby {
  margin-right: 0.25em;
}

.app-nav a ~ a {
  margin-left: 1.375em;
}

/* list */
.article-item-left time {
  margin-top: -15px;
}

.article-item-right h2 {
  margin-top: -17px;
}

.article-list-prev svg {
  margin-top: -17px;
  margin-left: -17px;
}

.article-list-next svg {
  margin-top: -26px;
  margin-left: -26px;
}

/* post */
.article-meta * + svg {
  margin-left: 1.25em;
}

.article-meta img {
  width: 1em !important;
  height: 1em !important;
}

.article-content pre {
  background-color: #272822;
}
