.main {
  position: relative;
  width: 100%;
  max-width: 768px;
  padding: 0 1em;
  margin: 2.5em auto 0;
}

@supports (display: grid) {
  .app {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    justify-items: center;
    min-height: 100vh;
  }

  @-moz-document url-prefix() {
    .app {
      grid-template-rows: 1fr auto;
    }
  }

  .main {
    grid-area: main;
  }
}
