:root {
  --pager-height: 5rem;
}

.wrapper {
  position: relative;
  height: 100%;
}

/*
 * LIST
 */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 1rem;
}

@media (min-width: 40rem) {
  .list {
    font-size: calc(1rem + (1.25 - 1) * (100vw - 40rem) / (48 - 40));
  }
}

@media (min-width: 48rem) {
  .list {
    font-size: 1.25rem;
  }
}

[data-ie="8"] .list {
  font-size: 1.25em;
}

.list::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--pager-height);
}

.item {
  display: flex;
  align-items: center;
}

[data-ie="8"] .item,
[data-ie="9"] .item {
  overflow: hidden;
  height: 130px;
}

.item-left {
  flex: 0 0 10em;
  display: flex;
  align-items: center;
}

[data-ie="8"] .item-left,
[data-ie="9"] .item-left {
  position: relative;
  float: left;
  width: 10em;
  height: 100%;
}

.item-left time {
  display: block\0;
  width: 100%;
  color: var(--grey);
}

[data-ie="8"] .item-left time,
[data-ie="9"] .item-left time {
  position: relative;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}

[data-ie="8"] .item-left time {
  margin-top: -15px;
}

.item-left::after {
  content: "";
  display: block;
  width: 2px;
  height: 6em;
  background-color: #666;
}

[data-ie="8"] .item-left::after,
[data-ie="9"] .item-left::after {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.item-right {
  position: relative;
  padding-left: 4.6em;
}

[data-ie="8"] .item-right,
[data-ie="9"] .item-right {
  float: left;
  height: 100%;
  padding-left: 4.6em;
}

.item-title {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.item-title h2 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  transition: transform 0.5s;
}

[data-ie="8"] .item-title h2,
[data-ie="9"] .item-title h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

[data-ie="8"] .item-title h2 {
  margin-top: -17px;
}

.item-title:hover {
  color: var(--theme);
}

.item-title:hover h2 {
  transform: translateX(1.5em);
}

[data-ie="9"] .item-title:hover h2 {
  transform: translateY(-50%) translateX(1em);
}

.item-title::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  width: 1em;
  height: 1em;
  border: 2px solid var(--theme);
  border-radius: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  background-color: #fff;
  transition: transform 0.5s;
}

.item-title:hover::after {
  transform: scale(1.5) rotateY(180deg) rotateX(180deg);
}

/* 小屏幕布局 */
@media (max-width: 40rem) {
  .list {
    max-width: 28em;
    margin: 0 auto;
  }

  .item {
    display: block;
    margin-bottom: 1.2em;
  }

  .item-left::after {
    content: none;
  }

  .item-right {
    padding-left: 2em;
    margin-top: 0.4em;
  }

  .item-title:hover {
    color: var(--theme);
  }

  .item-title:hover h2 {
    transform: none;
  }

  .item-title::after {
    content: none;
  }
}

/*
 * PAGER
 */
.pager {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 48em;
  max-width: 100%;
  padding: 0 0.65rem 0.65rem 0;
}

[data-ie="8"] .pager,
[data-ie="9"] .pager {
  text-align: right;
}

.pager a {
  display: flex;
  border-radius: 50%;
  font-size: 2rem;
}

[data-ie="8"] .pager a,
[data-ie="9"] .pager a {
  position: relative;
  display: inline-block;
  text-align: center;
}

.pager a:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.pager a:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
  transform: translate(1px, 1px);
}

.prev {
  width: 3.4rem;
  height: 3.4rem;
  border: 2px solid var(--theme);
  margin-right: 0.4em;
}

.next {
  width: var(--pager-height);
  height: var(--pager-height);
  background-color: var(--theme);
}

[data-ie="8"] .prev,
[data-ie="8"] .next {
  text-decoration: none;
}

[data-ie="8"] .prev span,
[data-ie="8"] .next span {
  position: static;
  visibility: visible;
  color: #68c144;
  font-size: 16px;
}

[data-ie="8"] .next span {
  color: #fff;
}

.pager svg {
  width: 65%;
  height: 65%;
  margin: auto;
}

[data-ie="8"] .pager svg,
[data-ie="9"] .pager svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next svg {
  fill: #fff;
}

.prev svg {
  fill: var(--theme);
}

.prev span,
.next span {
  visibility: hidden;
  position: absolute;
}
