html {
  box-sizing: border-box;
  line-height: 1.5;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #333;
  font-family: "Raleway", "Microsoft Yahei", "PingFang SC", "Heiti SC", sans-serif;
}

[hidden] {
  display: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, "Microsoft Yahei", monospace !important;
}

svg {
  width: 1em;
  height: 1em;
}

.btn {
  padding: 0.36em 0.6em;
  border: 0;
  border-radius: 1px;
  outline: 0;
  background-color: var(--theme);
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
  transform: translate(1px, 1px);
}
