:root {
  --pager-height: 5rem;
}

/*
 * PAGER
 */
.pager {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 48em;
  max-width: 100%;
  padding: 0 0.65rem 0.65rem 0;
}

[data-ie="8"] .pager,
[data-ie="9"] .pager {
  text-align: right;
}

.pager a {
  display: flex;
  border-radius: 50%;
  font-size: 2rem;
}

[data-ie="8"] .pager a,
[data-ie="9"] .pager a {
  position: relative;
  display: inline-block;
  text-align: center;
}

.pager a:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.pager a:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
  transform: translate(1px, 1px);
}

.prev {
  width: 3.4rem;
  height: 3.4rem;
  border: 2px solid var(--theme);
  margin-right: 0.4em;
}

.next {
  width: var(--pager-height);
  height: var(--pager-height);
  background-color: var(--theme);
}

[data-ie="8"] .prev,
[data-ie="8"] .next {
  text-decoration: none;
}

[data-ie="8"] .prev span,
[data-ie="8"] .next span {
  position: static;
  visibility: visible;
  color: #68c144;
  font-size: 16px;
}

[data-ie="8"] .next span {
  color: #fff;
}

.pager svg {
  width: 65%;
  height: 65%;
  margin: auto;
}

[data-ie="8"] .pager svg,
[data-ie="9"] .pager svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next svg {
  fill: #fff;
}

.prev svg {
  fill: var(--theme);
}

.prev span,
.next span {
  visibility: hidden;
  position: absolute;
}
